.app__wrapper {
    display: flex;
    flex-direction: column;
}

.header__wrapper {
    background-color: #e01212;
}
.header__logo{
    width: 100px;
}
.navigation__wrapper {
    background-color: #2c32ae;
    text-decoration: none;
    list-style-type: none;
}
.section__wrapper {
    background-color: #cdbc24;
}
.footer__wrapper {
    background-color: #2c8d8a;
}
.main__wrapper {
    display: flex;

}
